<div class="dialog" [ngStyle]="{display: company ? 'block' : 'none'}">
    <div class="titlebar">
        <div class="title" [innerText]="'藥品流向資料'"></div>
    </div>
    <div class="content">
        <div class="info" *ngIf="company?.regno">
            <label>公司統編:</label>
            <span [innerText]="company?.regno"></span>
        </div>
        <div class="info">
            <label>公司名稱:</label>
            <span [innerText]="company?.name"></span>
        </div>
        <app-lots caption="進貨" [lots]="company?.purchaseLots"></app-lots>
        <app-lots caption="銷貨" [lots]="company?.salesLots"></app-lots>
    </div>
</div>