<div id="cy"></div>

<div class="title">
    查詢條件:
    <div>藥品名稱: "衛采"彌可保膠囊500微公克（甲鈷胺明）</div>
    <div>藥品許可證號:衛署藥製字第029630號</div>
</div>

<div id="company-dialog" title="藥品流向資料">
    <div *ngIf="company">
        <div class="info" *ngIf="company.uno">
            <label>公司統編:</label>
            <span [innerText]="company.uno"></span>
        </div>
        <div class="info">
            <label>公司名稱:</label>
            <span [innerText]="company.name"></span>
        </div>
        <app-lots caption="進貨" [lots]="company.purchaseLots"></app-lots>
        <app-lots caption="銷貨" [lots]="company.salesLots"></app-lots>
    </div>
</div>

<div class="warning" [ngClass]="warning.class" [innerText]="warning.text"></div>