div#cy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

div.info {
    label {
        color: #888;
    }
    
    span {
        font-weight: bold;
    }
}

.ui-dialog-content {
    padding: 8px;
}